# transient tools
/.cache/

# build/test artifacts
/_build/
/*.crashdump

# temporary stuff
*.bu
*.tmp
tmp/

# editor droppings
*.bak
*~

# work environments
*.iml
.idea/
.project
.settings/
.tm_properties
/*.txt
/env
/env.local
